{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}
	<h1>Acceuil</h1>

	<div class="d-flex flex-column justify-content-center align-items-center gap-4">
		<a class="btn btn-primary" href="{{path('app_disc_index')}}">Voir les disques</a>
		<a class="btn btn-primary" href="{{path('app_artist_index')}}">Voir les artistes</a>
	</div>

{% endblock %}
