{% extends 'base.html.twig' %}

{% block title %}Nouveau disque{% endblock %}

{% block body %}
    <a class='mb-4 btn btn-primary' href="{{ path('app_disc_index') }}">Retour</a>
    <h1>Créer un nouveau disque</h1>

    {{ include('disc/_form.html.twig') }}

{% endblock %}
